# 네이버 뉴스 API 키 설정
# https://developers.naver.com/apps/#/myapps 에서 발급받으세요
NAVER_ID=your_naver_client_id_here
NAVER_SECRET=your_naver_client_secret_here

# 카카오톡 API 키 설정  
# https://developers.kakao.com/console/app 에서 발급받으세요
KAKAO_KEY=your_kakao_rest_api_key_here
